* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    display: flex;
    justify-content: center;
}

.display {
    font-size: 65px;
    font-family: 'Courier New', Courier, monospace, serif;
    display: flex;
    flex-grow: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    border-radius: 15px;
    background-color: rgb(127, 190, 206);
    border: 2px solid black;
    width: min-content;
}

.calculatorBody {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    margin: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.operation {
    background-color: rgb(156, 31, 31);
    border: 2px solid rgb(110, 16, 16);
    color: white;
}

#row {
    display: flex;
    flex-direction: row;
}

#backspace, .equal {
    height: 50px;
    width: 150px;
}

button {
    padding : 10px;
    margin: 5px;
    border: 2px solid rgb(91, 91, 91);
    border-radius: 10px;
    height: 50px;
    width: 70px;
    background-color: rgb(240, 240, 240);
}

.screenRectangle {
    height: 70px;
    background-color: rgb(63, 182, 136);
    color: black;
    border: 2px solid rgb(7, 58, 45);
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    max-width: 286px;
}

.calcDisplay {
    font-family: 'Courier New', Courier, monospace, serif;
    color: black;
    font-size: 65px;
    font-weight: 600;
    display: flex;
    flex-grow: 0;
    max-width: 286px;
}